:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 95vh;
  overflow: hidden;
  width: 100%;
}

button {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.33);
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.25rem;
}

.controller {
  --role-color: lightgreen;
}

.millstone {
  --role-color: lightsalmon;
}

.weasel {
  --role-color: lightskyblue;
}

.hawk {
  --role-color: lightseagreen
}