.card {
  width: 90vw;
  margin: auto;
  background-color: lightgray;
  border-radius: 0.75rem;
  min-height: 4rem;
}

.spy {
  background-color: lightgreen;
}

.puppetmaster {
  background-color: lightsalmon;
}

.trickster {
  background-color: lightskyblue;
}

.title {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid grey;
  text-align: center;
  height: 2.5rem;
}

.ability {
  padding: 1rem;
}